
#main{
    background-color: gray ;
    height: 700px;
    width: 700px;
}

 .col-xs-1{
     height: 70px;
     width: 70px;
 }

.tile{
    top: 20px ;
    color: red;
    text-align: center;
}
.Div1{
    background-color: white;
}
.Div2{
    background-color: black;
}

.img{
    position: absolute;
    height: 55px;
    width: 60px;
    left: 6px;
    top:5px;
    z-index: 999;

}

#pic{
    height: 75px;
    color: red;
    font-size: 50px;
    text-align: center;
    font-weight: bold;

    border-color: #1b6d85;

}

.img.hover{
    position: absolute;
    height: 60px;
    width: 65px;
    left: 4px;
    top: 5px;
    z-index: 9999;
}



.selectpath{
    box-shadow: inset 0px 0px 6px 10px red;
}
.clickpiece{
    box-shadow: inset 0px 0px 6px 10px darkred;
}
#pic{
    animation-name: first-animation;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
}
@keyframes first-animation {
    0%{
        width: 200px;
       opacity: 0.1;
        font-size: 30px;
        text-align: center;
        background-color: red;
    }
    25%{
        width: 400px;
        opacity: 0.2;
        font-size: 30px;
        text-align: center;
        background-color: white;
    }
    50%{
        width: 400px;
        opacity: 0.5;
        font-size: 30px;
        text-align: center;
        background-color: #2aabd2;
    }
    75%{
        width: 400px;
        opacity: 0.1;
        font-size: 30px;
        text-align: center;
        background-color: #e38d13;
    }
    100%{
        width: 450px;
        opacity: 0.1;
        font-size: 30px;
        text-align: center;
        background-color: springgreen;
    }
}